[submodule "vendor/ess"]
	path = vendor/ess
	url = https://github.com/emacs-ess/ESS.git
[submodule "vendor/haskell-mode"]
	path = vendor/haskell-mode
	url = https://github.com/haskell/haskell-mode
[submodule "vendor/org-mode"]
	path = vendor/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "vendor/solarized"]
	path = vendor/solarized
	url = git@github.com:longouyang/emacs-color-theme-solarized.git
[submodule "vendor/js2-mode"]
	path = vendor/js2-mode
	url = git://github.com/mooz/js2-mode.git
[submodule "vendor/expand-region"]
	path = vendor/expand-region
	url = git://github.com/magnars/expand-region.el
