[submodule "vendor/ess"]
	path = vendor/ess
	url = https://github.com/emacs-ess/ESS.git
[submodule "vendor/haskell-mode"]
	path = vendor/haskell-mode
	url = https://github.com/haskell/haskell-mode
[submodule "vendor/solarized"]
	path = vendor/solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule "vendor/org-mode"]
	path = vendor/org-mode
	url = git://orgmode.org/org-mode.git
